.carousel-caption {
    top:50%;
    transform: translateY(-50%);
    text-transform: uppercase;
}


.carousel {
    height: 100%;
    width: auto;
    text-align: center;
    

}
/* Make the image fully responsive */
.carousel-inner img {
    height: auto;
    filter: brightness(45%);

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
    /* Here's the same styles we applied to our content-div earlier */
    color: white;
    min-height: 100vh;
    min-width: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}


a {
  text-decoration: none;
}

a:hover {
  opacity: 0.5;
}

.fas {

  font-size: 1.5em;
  width: 1.5em;
  height: 1.5em;
  line-height: 1.5em;
  margin: 5px;
  text-align: end;
  opacity: .8;
}

a .fas {
  color: white;
}



.en, .de { display: none; } /* hide all elements with a language class */
.en:lang(en), .de:lang(de) { display:block;} /* show those elements that match their language class */

.choose:lang(en), .choose:lang(de) {
  display: none;
} /* doesnt display choice page when language selected */



.button{
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding: 7px 20px !important;
  border-radius: 5px;
  margin: 0px 0px 0px 20px;
  background-color: #e7e7e7;
  border: 3px solid #e7e7e7;
  border-radius: 5px;
  transition: 0.3s;
}

.button a {
  text-decoration: none;
  color: #fff;
}

.button:hover{
  background-color: rgba(255,255,255,0);
  color: white;
  cursor: pointer;
  opacity: 100%;
}
.button:hover a{
 color: white;
}

p {
  text-transform: none  ;
}


.mobile-image{
  display: block;
  height: 100vh;
  }
.desktop-image{
  display: none;
  height: 100vh;
  }
@media (min-width:576px){
  .mobile-image{
  display: none;

  }
  .desktop-image{
  display: block;
  
  }
}









@media only screen and (max-width: 768px) {
    .course {
      display: block;
    }
  
    .course .title, .course .descrition {
      max-width: 100%;
    }
  }
  
  @media only screen and (max-width: 576px) {
    .skills {
      display: block;
    }
  
    .skills .column {
      max-width: 100%;
    }
  
    footer {
      text-align: center;
    }
  }