body, html {
	height: 100%;
  }
  
        
    .bg { 

  
	/* Full height */
	height: 100%; 
  
	/* Center and scale the image nicely */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
  }

  @import url('https://fonts.googleapis.com/css?family=Raleway');

body {
  margin: 0;
  font-family: 'Raleway';
  font-size: 16px;
  line-height: 1.8em;
}

p {
  text-transform: none  ;
}



.carousel-caption {
  top:50%;
  transform: translateY(-50%);
  text-transform: uppercase;
}


.carousel {
  height: 100%;
  width: auto;
  text-align: center;
  

}
/* Make the image fully responsive */
.carousel-inner img {
  height: auto;
  filter: brightness(45%);

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  /* Here's the same styles we applied to our content-div earlier */
  color: white;
  min-height: 100vh;
  min-width: 100%;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}


.mobile-image{
  display: block;
  height: 100vh;
  }

.desktop-image{
  display: none;
  height: 100vh;
  }
@media (min-width:576px){
  .mobile-image{
  display: none;

  }
  .desktop-image{
  display: block;
  
  }
}


.en, .de, .infoen, .infode, .hobbies, .hobbys, .hobby { display: none; } /* hide all elements with a language class */
.en:lang(en), .de:lang(de), .infoen:lang(infoen), .infode:lang(infode), .hobbys:lang(hobbys), .hobbies:lang(hobbies)  { display:block;} /* show those elements that match their language class */

.choose:lang(en), .choose:lang(de), .choose:lang(infoen), .choose:lang(infode), .choose:lang(hobby), .choose:lang(hobbys), .choose:lang(hobbies) {
  display: none;
} /* doesnt display choice page when language selected */

.hobby:lang(en), .hobby:lang(de), .hobby:lang(choose), .hobby:lang(infoen), .hobby:lang(infode), .hobbys:lang(hobbies), .hobbies:lang(hobbys) {
  display: none;
} /* doesnt display hobby page when language selected */

.hobby:lang(hobbies), .hobby:lang(hobbys) {
  display: block;
}


textarea {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding: 7px 20px !important;
  border-radius: 5px;
  margin: 0px 0px 0px 20px;
  background-color: #e7e7e7;
  border: 3px solid #e7e7e7;
  border-radius: 5px;
  transition: 0.3s;

}

textarea a {
  text-decoration: none;
  color: black;
}

textarea:hover{
  background-color: rgba(255,255,255,0);
  color: white;


}

input {

    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    padding: 7px 20px !important;
    border-radius: 5px;
    margin: 0px 0px 0px 20px;
    background-color: #e7e7e7;
    border: 3px solid #e7e7e7;
    border-radius: 5px;
    transition: 0.3s;


  }
  
input a {
    text-decoration: none;
    color: black;
  }
  
input:hover{
    background-color: rgba(255,255,255,0);
    color: white;


}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: black;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: black;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: black;
}

input:hover::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; /* Firefox */
}

input:hover:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: white;
}

input:hover::-ms-input-placeholder { /* Microsoft Edge */
  color: white;
}


textarea:hover::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; /* Firefox */
}

textarea:hover:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: white;
}

textarea:hover::-ms-input-placeholder { /* Microsoft Edge */
  color: white;
}


a {
  color: #509e98;
  text-decoration: none;
}

a:hover {
  opacity: 0.5;
  cursor: pointer;
}

a:visited {
  color: #509e98;
}

article {
  padding:0 1em;
}

section{
  margin: 1em;
  padding: 1em;
}

header, main, footer {
  margin: 0 auto;
}

header {

  padding: 2em;
  text-align: center;
  
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  color: white;
}


a:active {
  color: black;
}

a:visited {
  color: #41807a;
}

h4 a:hover {
  color: #509e98;
  opacity: 0.7;
  text-decoration: none;
}



.containers{
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.text{
  font-weight: 100;
  font-size: 28px;
  color: #FAFAFA;
}

.textde{
  font-weight: 100;
  font-size: 28px;
  color: #FAFAFA;
}

.dud{
  color: #757575;
}


.button{
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding: 7px 20px !important;
  border-radius: 5px;
  margin: 0px 0px 0px 20px;
  background-color: #e7e7e7;
  border: 3px solid #e7e7e7;
  border-radius: 5px;
  transition: 0.3s;
}

.button a {
  text-decoration: none;
  color: black;
}

.button:hover{
  background-color: rgba(255,255,255,0);
  color: white;
  cursor: pointer;
 
}
.button:hover a{
 color: white;
}

a .button {
  color: black;
}


.image-box {

    box-shadow: inset 0 0 0 100vw rgba(0,0,0,0);
  
    /* Basic background styles */
    background: var(--image-url) center center;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
    /* Here's the same styles we applied to our content-div earlier */
    color: white;
    min-height: 100vh;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    
    
    /* Add a transition, just for fun */
    transition: box-shadow .2s ease-out;
  }

.image-box:hover {
    box-shadow: inset 0 0 0 100vw rgba(0,0,0,0.4);
}

header section {
  margin: 0 auto;
  max-width: 640px;
}

.progress {
  width: 90%;
}

header img {
  border-radius: 50%;
  max-width: 150px;
}

main section {
  padding: 5%;
}

h1 {
  text-transform: uppercase;
  margin: 1em 0;
}

h3 {
  text-transform: uppercase;
}

h3, h4 {
  font-weight: bold;
}

main {
  max-width: 1140px;
}

main section:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

.fab {

  font-size: 1.5em;
  width: 1.5em;
  height: 1.5em;
  line-height: 1.5em;
  margin: 5px;
  text-align: center;
}

a .fab {
  color: white;
}

.fas {

  font-size: 1.5em;
  width: 1.5em;
  height: 1.5em;
  line-height: 1.5em;
  margin: 5px;
  text-align: center;
}

a .fas {
  color: white;
}



.mouse-icon {

  position: absolute;

  left: 50%;

  bottom: 40px;

  border: 2px solid #fff;

  border-radius: 16px;

  height: 50px;

  width: 30px;

  margin-left: -17px;

  display: block;

  z-index: 10;

}



.mouse-icon .wheel {

  -webkit-animation-name: drop;

  -webkit-animation-duration: 1s;

  -webkit-animation-timing-function: linear;

  -webkit-animation-delay: 0s;

  -webkit-animation-iteration-count: infinite;

  -webkit-animation-play-state: running;

  animation-name: drop;

  animation-duration: 1s;

  animation-timing-function: linear;

  animation-delay: 0s;

  animation-iteration-count: infinite;

  animation-play-state: running;

}



.mouse-icon .wheel {

  position: relative;

  border-radius: 10px;

  background: #fff;

  width: 4px;

  height: 10px;

  top: 4px;

  margin-left: auto;

  margin-right: auto;

}



@-webkit-keyframes drop {

  0%   { top:5px;  opacity: 0;}

  30%  { top:10px; opacity: 1;}

  100% { top:25px; opacity: 0;}

}



@keyframes drop {

  0%   { top:5px;  opacity: 0;}

  30%  { top:10px; opacity: 1;}

  100% { top:25px; opacity: 0;}

}





@media only screen and (min-width: 768px) {

  .edu {
    transition: transform .2s; /* Animation */
  }
  .edu:hover{
    transform: scale(1.1);
  }
  
  .projects {
    transition: transform .2s; /* Animation */
  }
  .projects:hover{
    transform: scale(1.1);
  }
  
  
  .miles {
    transition: transform .2s; /* Animation */
  }
  .miles:hover{
    transform: scale(1.1);
  }
  
  
  .ski {
    transition: transform .2s; /* Animation */
  }
  .ski:hover{
    transform: scale(1.1);
  }

}

.myinfo {
  transition: transform .2s;
}

.myinfo:hover {
  transform: scale(1.1);
}




.course, .skills {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.course .title {
  color: #509e98;
  -ms-flex: 0 0 33.3%;
  flex: 0 0 33.3%;
  max-width: 33%;
}

.course .descrition {
  -ms-flex: 0 0 66.6%;
  flex: 0 0 66.6%;
  max-width: 66.6%;
}

.course .descrition p {
  padding-left: 1em;
}

.skills .column {
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}

.skills .column ul, ul.job-description {
  list-style-type: none;
}

.skills .column ul > li:before {
  content: "►";
  padding-right: 0.5em;
  color: #509e98;
}

.school, .job-title {
  text-transform: capitalize;
}

.school span, .job-title span {
  color: #889499;
  text-decoration: underline;
}

ul.job-description li:before{
  content: "✔";
  padding-right: 0.5em;
  color: #509e98;
}


footer {
  width: 100%;
}
.foot {
 padding: 1em 1.5em;
 background: #A7B8BF;
 color: white;
 float: right;
}

.last {
  padding: 1em 1.5em;
  background: #A7B8BF;
  color: white;
  float: left;
 }
 

@media only screen and (max-width: 768px) {
  .course {
    display: block;
  }

  .course .title, .course .descrition {
    max-width: 100%;
  }
}

@media only screen and (max-width: 576px) {
  .skills {
    display: block;
  }

  .skills .column {
    max-width: 100%;
  }

  footer {
    text-align: center;
  }
}



::-webkit-scrollbar { 
  display: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}


.timeline {
  list-style: none;
  padding: 20px 0 20px;
  position: relative;
}
.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 3px;
  background-color: #eeeeee;
  left: 50%;
  margin-left: -1.5px;
}
.timeline > li {
  margin-bottom: 20px;
  position: relative;
}
.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}
.timeline > li:after {
  clear: both;
}
.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}
.timeline > li:after {
  clear: both;
}
.timeline > li > .timeline-panel {
  width: 46%;
  float: left;
  border: 1px solid #d4d4d4;
  border-radius: 2px;
  padding: 20px;
  position: relative;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}
.timeline > li > .timeline-panel:before {
  position: absolute;
  top: 26px;
  right: -15px;
  display: inline-block;
  border-top: 15px solid transparent;
  border-left: 15px solid #ccc;
  border-right: 0 solid #ccc;
  border-bottom: 15px solid transparent;
  content: " ";
}
.timeline > li > .timeline-panel:after {
  position: absolute;
  top: 27px;
  right: -14px;
  display: inline-block;
  border-top: 14px solid transparent;
  border-left: 14px solid #fff;
  border-right: 0 solid #fff;
  border-bottom: 14px solid transparent;
  content: " ";
}
.timeline > li > .timeline-badge {
  color: #fff;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 1.4em;
  text-align: center;
  position: absolute;
  top: 16px;
  left: 50%;
  margin-left: -25px;
  background-color: #999999;
  z-index: 100;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}
.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
}
.timeline > li.timeline-inverted > .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}
.timeline > li.timeline-inverted > .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}
.timeline-badge.primary {
  background-color: #2e6da4 !important;
}
.timeline-badge.success {
  background-color: #3f903f !important;
}
.timeline-badge.warning {
  background-color: #f0ad4e !important;
}
.timeline-badge.danger {
  background-color: #d9534f !important;
}
.timeline-badge.info {
  background-color: #5bc0de !important;
}
.timeline-title {
  margin-top: 0;
  color: inherit;
}
.timeline-body > p,
.timeline-body > ul {
  margin-bottom: 0;
}
.timeline-body > p + p {
  margin-top: 5px;
}